* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 650px;
    margin: 1rem auto;
    overflow: auto;
    padding: 0 2rem;
}

.container2 {
    max-width: 450px;
    margin: 1rem auto;
    overflow: auto;
    padding: 0 2rem;
}

h1 {
    color: #777;
    margin-top: 15px;
}

h3 {
    margin-bottom: 10px;
}

img {
    width: 100%;
}

.message {
    text-align: center;
    padding: 5px;
    border: #ccc dotted 2px;
    margin-top: 2rem;
}

.logo {
    width: 300px;
    display: block;
    margin: auto;
}

.form-group {
    margin: 1rem 0;
}

input[type='text'],
select,
textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

.btn {
    display: block;
    width: 100%;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
    font-size: large;
}

.btntp {
    display: block;
    width: 100%;
    background: #333;
    color: #fff;
    padding: 10px 40px;
    border:solid black;
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
    font-size: large;
}

.flex-parent {
    display: flex;
  }
  
.jc-center {
    justify-content: center;
  }
  
.inputfile{
    font-size: large;
}

.upload{
    width: 100%;
    background: #333;
    color: #fff;
    padding: 10px 40px;
    border:solid black;
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
    font-size: large;
}

.uploadtop{
    width: 100%;
    background: rgb(214, 214, 214);
    color: rgb(53, 41, 7);
    padding: 10px 40px;
    border:solid rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
    font-size: large;
}



 /* Dashed border */
 hr.dashed {
    border-top: 3px dashed #bbb;
  }
  
  /* Dotted border */
  hr.dotted {
    border-top: 3px dotted #bbb;
  }
  
  /* Solid border */
  hr.solid {
    border-top: 3px solid #bbb;
  }
  
  /* Rounded border */
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  } 



  body {
    background-color:  #eee;
  }
  .title {
   
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
  .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
       
  }
  .card {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      margin-top:20px;
  }
  
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators .active {
      background-color: white;
      max-width: 12px;
      margin: 0 3px;
      height: 12px;
  }
  .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
    
