{% extends "layout.html" %} {% block body %}

<div class="container">
    <center><img src="../static/logo.png" alt="keeyada logo" style="width:200px;height:160px;"></center>
    <center>

    <div>
     

            {% for n in range(length) %}

            <h1>{{n}}</h1>

            {% for i in range(3) %}

            <h3>{{ fullnames[n][i] }}</h3>
            <img src="{{ fullurls[n][i] }}" >

            {% endfor %}

            {% endfor %}

        


    </div>

  
        
          


    </center>


</div>

{% endblock %}