{% extends 'layout.html' %} {% block body %}

<div>
    <form action="/calculate" method='POST'>
        <h1>keeyada</h1>
        <div>
            <input autofocus autocomplete='off' type="text" placeholder="Name" name='name'></input>
        </div>
        <div>
            <input autofocus autocomplete='off' placeholder='Email' type="text" name='email'></input>
        </div>

        <div>
            <select name="make">
            <option disabled selected value="">Make</option>
            {% for make in makes %}
            <option value="{{make}} ">{{make}}</option>
            {% endfor %}
        </select>
        </div>



        <div>
            <select name="model">
            <option disabled selected value="">Model</option>
            {% for model in models %}
            <option value="{{model}} ">{{model}}</option>
            {% endfor %}
        </select>
        </div>

        <div>
            <select name="year">
            <option disabled selected value="">Year</option>
            {% for year in years %}
            <option value="{{year}} ">{{year}}</option>
            {% endfor %}
        </select>
        </div>


        <div>
            <select name="km">
            <option disabled selected value="">Mileage</option>
            {% for x in mileage %}
            <option value="{{x}} ">{{x}}</option>
            {% endfor %}
        </select>
        </div>

        <div>
            <input type="submit" value='Calculate'>
        </div>
    </form>
</div>


{% endblock%}